.signup {
  font-size: 12px;
}

.signup .col-12{
  margin: auto;
  margin-top: 5px;
}

.signup .col-md-7 {
  width: 290px;
  margin-top: 30px;
}

.signup .col-lg-8{
  width: 290px;
}

.signup .form-control {
  width:290px;
  margin-bottom: 5px;
}

.signup .frm-ctrl{
  width: 200px;
}

.signup .g-3{
  width: 300px;
  margin-top: 5px;
}

.signup .gender {
  position: relative;
  flex-direction: row;
}

.signup .py-5{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.signup .already{
  margin-top: 10px;
}

.signup #btn-code {
  height: 24px;
  width: 75px;
}

.signup #btn-verify-code {
  height: 24px;
  width: 75px;
}

.signup #btn-signup {
  width: 290px !important;
  align-content: center;
  height: 35px;
  line-height: 22px;
}

.signup .my-3 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.signup .my-3 .flex {
	display: flex;
	align-items: center;
}

.signup .form-check {
  margin-right: 20px;
}

.signup .mb-3 {
  margin-bottom: 0rem !important;
}

.signup .btn {
  --bs-btn-font-size: 1rem;
}

#msg-pw, #msg-email, #msg-name, #msg-mobile, #msg-code {
  color: #4BAF4B;
  font-size: 1rem;
}

#msg-email.error-message,
#msg-pw.error-message,
#msg-name.error-message,
#msg-mobile.error-message {
    color: red;
    font-size: 1rem;
}


.signup .h3{
  font-size: 23px !important;
}
