@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

	  *{
	    margin: 0;
	    padding: 0;
	  }
	  
	  .body{
	    display: flex;
		margin: 20px auto;
		text-align: center;
	  }
	  .body > .leftarea , .rightarea{
	    flex: 2;
	  }
	  .body > .centerarea{
	    flex: 6;
	  }
	  
	  .centerarea{
		border:none;
		text-align:left;
	  }
	  
	  .centerarea > .contents-banner{
		width:auto;
		height: 150px;
		border:1px solid black;
		text-align:center;
		line-height:150px;
	  }
	  .centerarea > .detail-title {
	   	height: 50px;
	  	line-height:50px;
	  	margin-left: 5px;
		font-size: 2.5rem;
		font-weight: bold;
		margin-bottom: 20px;
		margin-top:20px;
	  }
	  
	  .centerarea > .detail-contents{
	  	height:200px;
	  	margin-left:5px;
	  	font-size:1.5rem;
	  }
	  
   .centerarea > .detail-contentinfo{
	display:flex;
   }
   .centerarea > .detail-contentinfo > .image-writer, .contents-button{
	height:50px;
	line-height:50px;
   }
   
   .image-writer{
   	margin-left: 5px;
   	
	flex:0.5;
   }
   
   .contents-button {
	flex:8;
	text-align: right;
	margin-right: 10px;
   }
   
   .contents-block{
  	padding-top: 7px;
  	padding-left: 5px;
   }
   
   /* 작성자 */
   .contents-writer{	
   	color:black;
   	text-decoration: none;
   	font-size: 1.3rem;
   }
   .contents-writer:hover{
	color: var(--main-color);
   	cursor:pointer;
   }
   
   /* 작성일, 조회수 */
   .contents-detailinfo{
	vertical-align: middle;
	font-size:1.3rem;
   }

	/* 수정, 삭제 버튼 */
   .btn-danger{
   background-color: #DC3545 !important; 
   border-color: #DC3545 !important;
   }
   
   
   
