@charset "UTF-8";

.box {
	width: 40rem;
	height: 8rem;
	margin: 50px auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.table-container {
	margin-top: 20px;
}

.table {
	width: 100%;
	margin-top: 25px;
}


.main {
	max-height: 60vh;
	max-width: 1090px;
}

#addBtn {
	--bs-btn-font-size: 0.6rem;
    position: relative;
    margin-right: 21rem; /* 원하는 위치 조정 */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
}

.search-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #0056b3;
}
