/* 활동 기록 탭 UI 스타일 */
.activity-tabs {
    display: flex;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    padding: 10px;
    justify-content: space-around;
    
}


.activity-tabs div {
	padding: 20px;
}

.activity-tabs a {
	color: black;
}

.activity-tabs a.active{
	 color: #007bff;
}

.activity-tabs span  {
	font-size: 1.7rem;
}


/* 내용 영역 스타일 */
.activity-container {
	margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#activity-content {
    overflow-y: auto;
    max-height: 500px;
}

.activity-card {
    border-bottom: 1px solid #ccc;
    padding: 16px;
}

.activity-title {
    color: #333;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.activity-title a {
	font-size: 2rem;
	margin-top: 6px;
}

