.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 50px;
    flex-direction: column;
    font-size:2.5rem;
}

.error-div {
    display: flex;
    align-items: center;
}

img.error-image {
	width: 200px;
    height: 200px;
}