body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    background: #fff;
}

/* Navigation 변경사항 적용 */
.navbar {
    height: 70px !important;
    border-bottom: 1px solid #d0d1d6;
    /* 기존 border-color 스타일 변경 */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #fff;
}

.navbar .container-fluid {
    width: 1100px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 40px;
}

.navbar-brand {
    margin-left: 6px;
    padding-top: 7px;
    font-size: 3rem;
    font-weight: 900;
    color: black;
}

/* 버튼 사이즈 조절 */
.btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80px;
    height: 35px;
    --bs-btn-font-size: 1.5rem;
    text-align: center !important;
}

/* 로그인 버튼 */
#signin {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-link {
    display: none;
    margin-top: 3px;
    padding-bottom: 7px;
    font-size: 2rem;
    font-weight: bold;
    color: #666;
}

.nav-item {
	 position: relative;
}

.nav-link:hover,
.nav-link:focus {
    color: #28a7e9;
}

footer {
    position: relative; /* 기존의 position: fixed;를 relative로 변경 */
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    text-align: center;
    font-size: 14px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: 1px solid #d0d1d6;
    margin-top: 15px;
}
/* body 내용이 채워질 때 footer가 자동으로 아래로 밀려나가도록 설정 */
main {
   padding-bottom: 100px; /* footer의 높이보다 큰 값으로 설정 */
}