@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

	  *{
	    margin: 0;
	    padding: 0;
	  }
	  
	  .body{
	    display: flex;
		margin: 20px auto;
		text-align: center;
	  }
	  
	  .centerarea{
		border:none;
		text-align:left;
		flex:6;
	  }
	  
	  .leftarea, .rightarea{
		text-align:left;
		flex:2;
		word-break:break-all;
	  }
	  
	  #hot-name{
	  width:150px;
	  height:20px;
	  }
	  
	  #hot-boardList{
	  width:150px;
	  }
	  
	  .centerarea > .contents-banner{
		width:auto;
		height: 150px;
		border:1px solid black;
		text-align:center;
		line-height:150px;
	  }
	  .centerarea > .detail-title {
	   	height: 50px;
	  	line-height:50px;
	  	margin-left: 5px;
		font-size: 2.5rem;
		font-weight: bold;
		margin-bottom: 20px;
		margin-top:20px;
	  }
	  
   .centerarea > .detail-contents{
  	margin-left:5px;
  	font-size:1.5rem;
  	min-height: 300px;
  	max-width: 655px;
   }
	  
   .centerarea > .detail-contentinfo{
	display:flex;
   }
   .centerarea > .detail-contentinfo > .image-writer, .contents-button{
	height:50px;
	line-height:50px;
   }
   
   .image-writer{
   	margin-left: 5px;
   }
   
   .contents-button {
	flex:8;
	display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
   }
   
   .contents-block{
  	padding-top: 7px;
  	padding-left: 5px;
   }
   
   /* 작성자 */
   .contents-writer{	
   	color:black;
   	text-decoration: none;
   	font-size: 1.3rem;
   }
   .contents-writer:hover{
	color: var(--main-color);
   	cursor:pointer;
   }
   
   /* 작성일, 조회수 */
   .contents-detailinfo{
	vertical-align: middle;
	font-size:1.3rem;
   }

	/* 수정, 삭제 버튼 */
   #btn-delete{
   background-color: #DC3545 !important; 
   border-color: #DC3545 !important;
   font-size:1.5rem;
   }
   #btn-modify{
   font-size:1.5rem;
   margin-right:2px;
   }

   .comment-input{
	border: solid 1px grey !important;
	padding:10px;
	border-radius: 7px;
   }
   
   #comment-box{
   font-size:1.4rem;
   resize:none;
   overflow: hidden;
   background-color: rgba(255, 240, 241, 0.8);
   border-radius: 7px;
   margin: 10px 0 0 10px;
   padding: 10px 0 0 10px; 
   }
   
   ol{
   margin-top:20px;
   font-size:1.4rem;
   }
   
   .image-commenter-writer{
   display:flex;
   }
   
   #btn-comment{
   font-size:1.5rem;
   margin-top:10px;
   margin-left:85%;
   }
   
   .image-commenter-writer > img{
   padding: 10px 0 0 0;    	
   } 
   
   .image-commenter {
	display: flex;
    flex-wrap: inherit;
    align-items: center;
    margin-bottom: 10px;
   }
   
   .comment-buttons{
   	margin-left : 60%;
   }
   
   .comment-buttons  > button{
    font-size:1.5rem;
   	background-color: white !important;
   	border: none;
    text-decoration: underline;
   }
   
   .btn-comment-modify{
   	margin-right: 5px;
   }

	.comment-text{
	margin-bottom : 5px;
	min-height: 30px;
	}

	.modifybycomment{
	display:flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
	}
	
	.modifybycomment > button{
	width:50px !important;
	height:30px !important;
	}
	
  	#btn-comment-updatecancle{
   background-color: #DC3545 !important; 
   border-color: #DC3545 !important;
   margin-right:2px;
   }
   
   #btn-comment-update{
   margin-right:17px;
   }
   
   #commentupdate-box{
   font-size:1.4rem;
   resize:none;
   overflow: hidden;
   background-color: rgba(255, 240, 241, 0.8);
   border-radius: 7px;
   margin: 10px 0 0 10px;
   padding: 10px 0 0 10px; 
   }