<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcp.semi.mypage.mapper.MyPageMapper">

	<!-- 비밀번호 변경 -->
	<update id="modifyPw">
		UPDATE USER_T SET USER_PW = #{newPw} 
		WHERE USER_NO = #{userNo} AND USER_PW = #{originPw}
	</update>
	
</mapper>