<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcp.semi.mypage.mapper.MyPageMapper">

	<resultMap id="MyPageMap" type="BoardDto">
	        <id property="boardNo" column="BOARD_NO"/>
	        <result property="boardTitle" column="BOARD_TITLE"/>
	        <result property="boardContent" column="BOARD_CONTENT"/>
	        <result property="boardHit" column="BOARD_HIT"/>
	        <result property="boardCreateDt" column="BOARD_CREATE_DT"/>
	        <association property="user" javaType="UserDto">
	            <id property="userNo" column="USER_NO"/>
	            <result property="userName" column="USER_NAME"/>
	        </association>
	        <collection property="comments" ofType="CommentDto">
	        	<id property="commentNo" column="CMT_NO"/>
	        	<result property="commentContent" column="CMT_CONTENT"/>
	        	<result property="cmtCreateDt" column="CMT_CREATE_DT"/>
        		<association property="user" javaType="UserDto">
	         		   <id property="userNo" column="USER_NO"/>
	         		   <result property="userName" column="USER_NAME"/>
      	  	   </association>
	        </collection>
	</resultMap>
	
	<!-- 회원 정보 수정 -->
	<update id="modifyUser">
		UPDATE USER_T 
		SET USER_NAME = #{userName}, 
			USER_GENDER = #{userGender}, 
			USER_MOBILE = #{userMobile}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="modifyPw">
		UPDATE USER_T 
		SET USER_PW = #{newPw}, 
			PW_MODIFY_DT = CURRENT_DATE
		WHERE USER_NO = #{userNo} 
			AND USER_PW = #{originPw}
	</update>
	
	<!-- 계정 삭제: 탈퇴일 수정 -->
	<delete id="removeUser">
		UPDATE USER_T 
		SET WITHDRAWAL_DT = CURRENT_DATE
		WHERE USER_NO = #{userNo} 
			AND USER_PW = #{originPw}
	</delete>
	
	<!-- 계정 삭제: 데이터 삭제 -->
	<delete id="deleteUserData">
		DELETE FROM USER_T 
		WHERE CURRENT_DATE - WITHDRAWAL_DT >= 1
	</delete>
	
	<!-- 내가 작성한 글 조회 -->
	<select id="getBoardsByUserNo" resultMap="MyPageMap">
		SELECT A.BOARD_NO, A.BOARD_TITLE, A.BOARD_CONTENT, A.BOARD_HIT, A.BOARD_CREATE_DT, A.USER_NAME, A.USER_NO
		  FROM ( SELECT ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) AS RN
		, B.BOARD_NO
		, B.BOARD_TITLE
		, B.BOARD_HIT
		, B.BOARD_CONTENT
		, B.BOARD_CREATE_DT
		, B.USER_NO
		, U.USER_NAME
		FROM BOARD_T B INNER JOIN USER_T U
		ON B.USER_NO = U.USER_NO 
		WHERE B.USER_NO = ${userNo}) A
		WHERE RN BETWEEN #{begin} AND #{end}
	</select>
	
	<!-- 내가 작성한 댓글 조회 -->
	<select id="getBoardsWithCommentsByUserNo" resultMap="MyPageMap">
		SELECT A.BOARD_NO, A.BOARD_TITLE, A.BOARD_CONTENT, A.BOARD_CREATE_DT, A.USER_NAME, A.USER_NO,
                A.CMT_NO, A.CMT_CONTENT, A.CMT_CREATE_DT
		  FROM ( 
		  SELECT ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) AS RN
        , B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_CREATE_DT
        , U.USER_NAME, C.USER_NO, C.CMT_NO, C.CMT_CONTENT, C.CMT_CREATE_DT
           FROM BOARD_T B
          INNER JOIN USER_T U ON B.USER_NO = U.USER_NO
          INNER JOIN COMMENT_T C ON B.BOARD_NO = C.BOARD_NO
          WHERE B.USER_NO = ${userNo}) A
	 	 WHERE RN BETWEEN #{begin} AND #{end}
	</select>
	
	<!-- 특정 사용자가 작성한 글의 개수 -->
	<select id="countBoardsByUserNo" resultType="int">
		SELECT COUNT(*)
		  FROM BOARD_T
		 WHERE USER_NO = #{userNo} 	
	</select>
	
	<!-- 특정 사용자가 작성한 댓글의 개수 -->
	<select id="countCommentsByUserNo" resultType="int">
		SELECT COUNT(*)
		  FROM COMMENT_T
		 WHERE USER_NO = #{userNo} 	
	</select>
	
</mapper>
